<h1>New Tenant</h1>
<div>
  <ul class='main'>
    <li><%= @tenant.first_name + ' ' + @tenant.last_name %></li>
    <li><%= @tenant.email %></li>
  </ul>
</div>
<br>

<h4><%= link_to 'Add a new tenant', new_tenant_path %></h4>
