<h1> Building Management System </h1>
<hr />
<h2>Registrations</h2>

  <h3><%= link_to 'Building', buildings_path %></h3>
  <h3><%= link_to 'Owner', owners_path %></h3>
  <h3><%= link_to 'Tenant', tenants_path %></h3>
