

<h1> Building Management System </h1>
<hr />
<h2>Registrations</h2>

  <p><%= link_to 'Building', new_building_path %></p>
  <p><%= link_to 'Owner', new_owner_path %></p>
  <p><%= link_to 'Tenant', new_tenant_path %></p>

