<div class="jumbotron">
  <div class="container">
    <h2>New Registrations</h2>
    <h3><%= link_to 'Owners', new_owner_path %></h3>
    <h3><%= link_to 'Buildings', new_building_path %></h3>
    <h3><%= link_to 'Tenants', new_tenant_path %></h3>
  </div>
</div>
