<h1>New Building</h1>
  <div>
    <ul class='main'>
      <li><%= @building.street_address %></li>
      <li><%= @building.city + ' ' + @building.state + ' ' + @building.postal_code %></li>
      <li><%= button_to 'Delete', @building, method: :delete, data: { confirm: 'Are you sure you want to delete this building?' } %></li>
    </ul>
  </div>
<br>

  <h4><%= link_to 'Add a new building', new_building_path %></h4>
</div>
